<!-- Footer Section - Contact info and the Copyright -->
<footer id="footer">
  <div class="footer container">
    <div class="logo">
      <h1><span>Thank You for Visiting!</span></h1>
      <p>You can reach me at:</p>
    </div>
    <h2>Zainab Syed</h2>
    <h2>Email: zainab.syed1@ontariotechu.net</h2>
    <p>Copyright © 2024. All rights reserved.</p>
  </div>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <h6 class="navbar-text">&copy; Copyright 2024. All rights reserved.</h6>
  </nav>
</footer>
</body>

</html>